@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Kirang+Haerang&family=Sunflower:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Kirang+Haerang&family=Sunflower:wght@700&display=swap");
.total {
  font-family: 'EB Garamond', serif;
  height: 1200px;
  background-color: #d1c4e9;
  max-width: 100%;
  max-height: 100%;
}

.total .fullImgBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 20px;
  max-width: 100%;
  max-height: 100%;
}

.total .fullImgBox .fullImg {
  cursor: pointer;
  height: 550px;
  width: 1200px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.total .fullImgBox .fullImg:hover {
  -webkit-filter: grayscale(100%) contrast(120%);
          filter: grayscale(100%) contrast(120%);
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0;
}

.total .thumBox {
  background-color: #f3e5f5;
  border-radius: 10px;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 1200px;
  height: 450px;
  margin: 0 auto;
  -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  top: 50px;
  max-width: 100%;
  max-height: 100%;
}

.total .thumBox .thumImgBox {
  outline: solid 1px black;
  position: relative;
  top: 20px;
  height: 100px;
  width: 100px;
  padding: 12px 10px;
  max-width: 100%;
  max-height: 100%;
}

.total .thumBox .thumImgBox .thumImg {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  text-align: center;
}

.total .thumBox .thumImgBox .thumImg:hover {
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.total .thumBox .thumImgBox .imgDelBtn {
  position: relative;
  left: 76px;
  top: -106px;
}

.total .title {
  position: relative;
  background-color: #212121;
  text-align: center;
  color: #fafafa;
  width: 250px;
  left: 100px;
  height: 40px;
  font-size: 20px;
  -webkit-transform: translate(-200%, -1100%);
          transform: translate(-200%, -1100%);
  line-height: 40px;
}

.total .title:hover {
  background-color: #836fa9;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (max-width: 768px) {
  .total .thumBox {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
  .total .title {
    position: relative;
    left: 300px;
  }
}

@media (max-width: 420px) {
  .total .fullImgBox .title {
    position: relative;
    left: 400px;
    top: 100px;
  }
  .total .thumBox {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}
/*# sourceMappingURL=Main.css.map */