.CartContainer {
  border: 8px solid #212121;
  margin-top: 20px;
  width: 800px;
  height: 250px;
  list-style: none;
  display: flex;
  position: relative;
  right: -40px;

  position: relative;
  top: 40px;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.CartContainer:hover {
   /* filter: grayscale(100%) contrast(120%); */
   box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
   /* margin-top: 0; */
 }

.Check {
  margin: auto;
  margin-left: 20px;
}

.CartImg {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-left: -80px;
}

.Item {
  margin: auto;
  margin-left: -80px;
}

.Settiing {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.DelBtn {
  margin-bottom: 10px;
  width: 100px;
  height: 50px;
  background-color: #212121;
  border-radius: 9px;
  border-color: #212121;
  box-shadow: 0px 6px #9e9e9e;
  border: none;
}
.DelBtn:hover {
  transform: translateY(3px);
  box-shadow: 0px 3px #9e9e9e;
}
.DelBtn:active {
  transform: translateY(6px);
  box-shadow: 0 0;
}

.NumberSetting {
  width: 100px;
  height: 20px;
}

.item-list-text {
  color: #484848;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.TotalCheck {
  margin-top: 10px;
  margin-left: 10px;
}

.TotalCheckText {
  font-size: 20px;
}

/* .TotalCheckBtn {
} */
