.CartContainer {
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    justify-content: center;
    &:hover {        
    }
  .CartImg {
    cursor: pointer;
    border: 1px solid black;
    width: 100px;
    height: 100px;
  } 
  .Item {
    border: 1px solid black;
  } 
  .Setting {
    border: 1px solid black;
  }  
}

