.CartContainer {
    border: 1px solid black;

    /* border: 8px solid #212121; */
    &:hover {        
    }
  .CartImg {
    border: 1px solid black;
    width: 100px;
    height: 100px;
  } 
  .Item {
    border: 1px solid black;
  } 
  .Setting {
    border: 1px solid black;
  }  
}

