.container {
    display: flex;
    justify-content: center;
    padding: 30px 24px;
    position: relative;
    width: 1000px;
    height: 580px;
    margin: auto;
    top: 5px;    
    border: 1px solid black;

    .fullImgDetailBox {
    .fullImg {       
        width: 580px;
        height: 580px;
    }
    
}
.infoBox {
  .BtnBox {}
}

.todos {}
}

