@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Kirang+Haerang&display=swap');

.container {
    font-family: 'EB Garamond', serif;
    border: 1px solid black;
  .detailBox {
    display: grid;
    grid-template-columns: auto auto auto;
    .fullImg {
      border: 1px solid black;
      width: 100px;
      height: 100px;
    }
    .infoBox {
      border: 1px solid black;
      width: 100px;
      height: 100px;
    }
    .todos {
      border: 1px solid black;
      width: 100px;
      height: 100px;
    }
  }
}

