.HeaderBox {
  background-color: #9e9e9e;
  display: flex;
  height: 80px;
  border: 1px solid black;
}

.MarketName {
  color: #fff176;
  font-size: 20px;
  padding: 10px 8px;
  width: 150px;
  height: 80px;
  /* border: 1px solid black; */
}

.ItemBox {
  display: flex;
  margin-left: auto;
}

.ItemList {
  font-size: 20px;
  padding: 10px 8px;
  width: 150px;
  height: 80px;
  /* border: 1px solid black; */
}

.ItemCount {
  font-size: 20px;
  padding: 10px 8px;
  width: 150px;
  height: 80px;
  /* border: 1px solid black; */
}
