@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Gowun+Dodum&family=Kirang+Haerang&family=Sunflower:wght@700&display=swap');

.HeaderBox {
    font-family: 'Gowun Dodum',
    sans-serif;
    background-color:#d1c4e9;
    display: flex;
    height: 70px;
    width: 100%;
    .header{
        position: relative;
        padding: 16px 24px;
        font-size: 20px;
        font-size: 30px;
        cursor: pointer;
    }
    /* border: 1px solid black; */
}


