@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Kirang+Haerang&display=swap');

.HeaderBox {
    font-family: 'EB Garamond', serif;
    background-color: #212121;
    display: flex;
    height: 80px;
    width: 100%;
    .header{
        position: relative;
        padding: 20px 14px;
        font-size: 20px;
        cursor: pointer;
    }
    /* border: 1px solid black; */
}


