.infoItemBox {
width: 100%;
height: 1200px;
background: #546e7a;
    .submitInfo {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      position: relative;
      top: 200px;
      .imgUrl {
        // outline : solid 1px black;        
        box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        width: 250px;
        height: 220px;
      }
      .onFileChange {
        // outline : solid 1px black;  
        width: 400px;
      
      }
      .onNameChange {
        // outline : solid 1px black;
        textarea {
          outline : solid 1px black;
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
          border: 1px solid #ddd;
          // margin-bottom: 20px;
          width: 390px;
          height: 25px;
          padding: 10px;
          resize: none;          
        }
        .nameMessage {
          // outline : solid 1px black;
          
        }
      }
      .onPriceChange {
        // outline : solid 1px black;
        textarea {
          outline : solid 1px black;
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
          border: 1px solid #ddd;
          // margin-bottom: 20px;
          width: 390px;
          height: 25px;
          padding: 10px;
          resize: none; 
          position: relative;
          top: 20px;
        }
        .priceMessage {
          position: relative;
          top: 20px;
          // outline : solid 1px black;          
        }
      }
      .text {
        // outline : solid 1px black;
        textarea {
          outline : solid 1px black;
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
          border: 1px solid #ddd;
          margin-bottom: 20px;
          width: 390px;
          height: calc(50vh - 150px);
          padding: 10px;
          resize: none;
          position: relative;
          top: 40px;
        }
      }
      .submit {
        display: grid;
        justify-items: center;
        .submitBtn {     
          width: 100px;
          height: 50px;  
          position: relative;
          top: 40px;
        }
      }
    }
}
