@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Kirang+Haerang&family=Sunflower:wght@700&display=swap');

.total {
  font-family: 'EB Garamond',
    serif;
  height: 1200px;     
  background-color: #d1c4e9;  
  max-width: 100%;
  max-height: 100%;
.fullImgBox {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  position: relative;
  top: 20px;
  max-width: 100%;
  max-height: 100%;
  .fullImg {
    cursor: pointer;    
    height: 550px;
    width: 1200px;
    border-radius: 10px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    //  filter: grayscale(100%) contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      filter: grayscale(100%) contrast(120%);
      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
      margin-top: 0;
    }
  }
}
.thumBox {
  // outline : solid 1px black;
  background-color: #f3e5f5;
  border-radius: 10px;
  overflow: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: center;
  position: relative;
  width: 1200px;
  height: 450px;
  margin: 0 auto;   
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  top: 50px;
  max-width: 100%;
  max-height: 100%;
  .thumImgBox {
    // outline : solid 1px black;
    position: relative;
    top: 20px;
    height: 100px;
    width: 100px;
    padding: 12px 10px;
    max-width: 100%;
    max-height: 100%;    
  .thumImg {
    filter: brightness(60%);
    position: relative;        
    height: 100px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    &:hover {
      filter: brightness(105%);
      transform: scale(1.1);
      transition: transform .5s;
      // z-index: 999;
    }
  }
  .imgDelBtn {
    // outline : solid 1px black;
    position: relative;
    left: 76px;
    top: -106px;
  }
}  
}

.title {
  // outline : solid 1px black;
  position: relative;
  background-color: #212121;
  text-align: center;
  color: #fafafa;
  width: 250px;
  left: 100px;
  height: 40px;
  font-size: 20px;  
  transform: translate(-200%, -1100%);
  line-height: 40px;
  &:hover {
    background-color: #836fa9;
    // color: efebe9;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
}

//-------------------------------------------------------------------------------------------------

@media (max-width: 768px) {
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Kirang+Haerang&family=Sunflower:wght@700&display=swap');

  .total {    
    .fullImgBox {      
      .fullImg {}
    }
    .thumBox {      
      grid-template-columns: auto auto auto auto;
      
      .thumImgBox {
        
        .thumImg {
          
        }

        .imgDelBtn {
          
        }
      }
    }

    .title {
      // outline : solid 1px black;
      position: relative;      
      left: 300px;          
    }
  }  
}

@media (max-width: 420px) {
  .total {
    .fullImgBox {
      .title {
        position: relative;
        left: 400px;
        top: 100px;
      }
    }
    .thumBox {
      grid-template-columns: auto auto auto;
    }
  }
}
