.fullImgBox {

  .fullImg {
    position: relative;
    top: 40px;
    display : block;
    height: 550px;
    width: 1200px;
    margin: 0px auto;
    }
}

.thumImg {
  filter: brightness(60%);
  position: relative;
  height: 100px;
  width: 100px;
  bottom: 20px;
  left: 150px;
  z-index: 500;

  &:hover {
    filter: brightness(105%);    
    transform:scale(1.1);
    transition: transform .5s;
    z-index: 999;
  }
}