.MainBox {
  padding: 50px 50px 100px 100px;
  /* display: table-cell; */
  width: 100%;
}

.Box {
  display: inline-block;
  width: 250px;
  height: 300px;
  border: solid rgb(238, 238, 238) 0.1rem;
  margin: 30px;
  background-color: #ffeeff;
}

.ImgBox {
  border: 1px solid black;
  background-color: white;
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
}

.ItemInfo {
  text-align: center;
  background-color: #c48b9f;
}

.ItemBtn {
  margin: auto;
  display: block;
  margin-top: 3px;
  background-color: #ffeeff;
}
