@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Kirang+Haerang&display=swap');

.total {
  font-family: 'EB Garamond',
    serif; 
  background: rgba(218, 218, 218, 1);
  width: 100%;

.fullImgBox {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  .fullImg {
    cursor: pointer;    
    height: 550px;
    width: 390px;
    object-fit: cover;
    //  filter: grayscale(100%) contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      filter: grayscale(100%) contrast(120%);
      box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
      margin-top: 0;
    }
  }
}
.thumBox {
  // outline : solid 1px black;
  overflow: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  width: 410px;
  height: 250px;
  margin: 0 auto;   
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  .thumImgBox {
    position: relative;
    left: 10px;
    
  .thumImg {
    filter: brightness(60%);
    position: relative;
        
    height: 100px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    &:hover {
      filter: brightness(105%);
      transform: scale(1.1);
      transition: transform .5s;
      z-index: 999;
    }
  }
}
  .imgDelBtn {
    position: relative;
    left: -24px;
    top: -85px;
  }
}

.title {
  position: relative;
  background-color: #212121;
  text-align: center;
  color: #fafafa;
  width: 250px;
  left: 400px;
  height: 40px;
  font-size: 20px;  
  transform: translate(-200%, -1100%);
  line-height: 40px;
  &:hover {
    background-color: #6d6d6d;
    color: efebe9;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
}

