.MainBox {
  padding: 50px 50px 100px 100px; /* 전체 위치 조정*/
}

.Box {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 300px;
  border: 1px solid rgb(238, 238, 238);
  margin: 30px; /*박스간 간격 조정 */
}
.Box:hover span {
  position: absolute;
  color: #eeeeee;
  display: block;
  transition-duration: 0.3s;
}
.Box:hover img {
  transform: scale(1.2);
  transition-duration: 0.3s;
  filter: grayscale(40%);
  opacity: 0.7;
}

.ImgBox {
  background-color: white;
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
}

.ItemInfo {
  padding: 10px 0;
  text-align: center;
  letter-spacing: 1px;
}

.ItemBtn {
  margin: auto;
  display: block;

  position: relative;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  width: 250px;
  box-sizing: border-box;
  background-color: transparent;
  transition: all 0.3s ease;
}
.BtnBox {
  background: #ffc1e3;
}

.ItemBtn:hover {
  background-color: #f06292;
  color: #ffee58;
}

.Text {
  position: absolute;
  font-weight: 700;
  top: 70%;
  max-width: 80%;
  text-align: center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 15px;
  display: none;
  margin-right: -50%;
  transition-duration: 0.3s;
  transform: translate(-50%, -150%);
}
