.modalBackground {
    overflow: auto;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    border: 1px solid black;
    width: 500px;
    height: 550px;
    background-color: antiquewhite;
    margin: 0 auto;
    z-index: 999;
  .modalContent {
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    justify-content: center;
    .modalBtn {
      position: relative;
      left: -230px;
    }
    .modalData {
        border: 1px solid black;
        display: grid;
        justify-items: center;

        .modalName {

        }
        .modalImg {
        border: 1px solid black;
        width: 250px;
        height: 220px;
        position: relative;
        }
        .modalPrice {
        border: 1px solid black;

        }
        .modalText {
        border: 1px solid black;
        }
    }
  }
}

