.ModalSubmitBox {
    border: 1px solid black;
    width: 500px;
    height: 350px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    justify-content: center;

    textarea {
        outline: solid 1px black;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        width: 450px;
        height: 100px;
        padding: 10px;
        resize: none;
        position: relative;
        top: 40px;
    }

    .ModalBtn {
        width: 100px;
        height: 40px;
        position: relative;
        top: -50px;
    }
}

.ModalTodoTextBox {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 300px 100px;
    justify-items: center;
    width: 400px;
    // justify-content: center;
    position: relative;
    top: -140px;
    left: -20px;
    
    

    .ModalTodoText {}

    .ModalTodoDelete {}
}
