@media (max-width: 1000px) {
  .OrderTotalBox {
    position: relative;
    background-color: blue;
    right: 100px;
    top: -100px;
    width: 400px;
    height: 250px;
    border: solid rgb(238, 238, 238) 0.2rem;
    font-size: 25px;
    font-weight: 600;
  }
}

.OrderTotalBox {
  position: absolute;
  background-color: #fce4ec;
  right: 100px;
  top: 155px;
  width: 400px;
  height: 250px;
  border: solid rgb(238, 238, 238) 0.2rem;
  font-size: 25px;
  font-weight: 600;
}
.OrderTotalBox:hover {
  background-color: #ffcdd2;
  box-shadow: 3px 3px 3px #3f00c71a;
}

.OrderTotal {
  text-align: center;
  margin-top: 30px;
}

.OrderQuantity {
  text-align: center;
  margin-top: 40px;
}

.OrderSummaryTotal {
  text-align: center;
  margin-top: 30px;
}
