@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Gowun+Dodum&family=Kirang+Haerang&family=Sunflower:wght@700&display=swap');

.submitBox {
    font-family: 'Gowun Dodum',
    sans-serif;
    // border: 1px solid black;
    width: 900px;
    height: 250px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    justify-content: center;
    textarea {
        // outline: solid 1px black;        
        border: 1px solid #ddd;
        margin-bottom: 20px;
        width: 850px;
        height: 100px;
        padding: 10px;
        resize: none;
        position: relative;
        top: 40px;
    }
    .btn {
        // outline: solid 1px black;
        background-color: #d1c4e9;
        width: 70px;
        height: 70px;
        border-style: none;
        position: relative;
        top: 10px;
        cursor: pointer;
        // position: relative;
        // top: 10px;
        // width: 100px;
        // height: 40px;
        // background-color: #212121;
        // text-align: center;
        // color: #fafafa;
        // font-size: 20px;
        // line-height: 40px;
        // border-radius: 10px;
        // &:hover {
        //     background-color: #6d6d6d;
        //     color: efebe9;
        //     transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        // }
    }
}
.textList {
  outline: solid 1px black;
  font-family: 'Gowun Dodum', sans-serif;
  position: relative;
  top: -50px;
  .todoTextBox {
  // border: 1px solid black;
    display: grid; 
    grid-template-columns: 800px 100px;
    justify-items: center;
    width: 900px;
    // justify-content: center;
    position: relative;
    left: -20px;
    .todoText {
       font-size: 20px;
    }
    .todoDelete {      
        .todoBtn {
          outline: solid 1px black;
          background-color: #d1c4e9;
          width: 35px;
          height: 35px;
          border-style: none;
          position: relative;
          cursor: pointer;
            // position: relative;
            // background-color: #212121;
            // text-align: center;
            // color: #fafafa;
            // width: 100px;
            // height: 40px;
            // font-size: 20px;
            // line-height: 40px;
            // border-radius: 10px;
            // &:hover {
            //     background-color: #6d6d6d;
            //     color: efebe9;
            //     transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            // }
        }
    }
}
}


