@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Gowun+Dodum&family=Kirang+Haerang&family=Sunflower:wght@700&display=swap');

.submitBoxControl {
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: atuo;
  border-radius: 10px;

  .submitBox {
    font-family: 'Gowun Dodum',
      sans-serif;
    // border: 1px solid black;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    height: 325px;
    

    .onText {
      //  outline : solid 1px black;       
       border: 5px solid rgb(240, 205, 234);
       border-radius: 10px;
       margin-bottom: 20px;
       width: 650px;
       height: 200px;
       padding: 10px;
       resize: none;
       position: relative;
       top: 40px;  
       outline-color: #ec57ec;
    }

    .btn {
      // outline: solid 1px black;
      background-color: #d1c4e9;      
      border-style: none;
      position: relative;
      top: 10px;      
      width: 60px;
      height: 50px;
      cursor: pointer;
      margin: 0 auto;
      font-size: 12px;
    }
  }
.textList {
  // outline: solid 1px black;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  position: relative;
  top: 10px;
    .todoText {
      font-size: 20px;
      width: 600px;
      position: relative;
      left: -20px;
    }

    // .todoDelete {
      .todoBtn {
        // outline: solid 1px black;
        position: relative;
        left: 580px;
        top: -20px;
        width: 40px;                    
      }
    // }
}

}


//--------------------------------------------------------------------------------

@media (max-width: 768px) {
    
}

